RewriteEngine on

# Rewrite all other URLs to index.php?[URL]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php?querysystemurl=$0 [QSA]

Options -Indexes

<FilesMatch "\.(php|twig|log)$">
	Deny from all
</FilesMatch>

<FilesMatch "^index.(php)$">
	Allow from all
</FilesMatch>