RewriteEngine On

# ensure https
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteCond %{HTTPS} off
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteCond %{HTTP_HOST} !^hazirbant.com.tr$ [NC]
#RewriteRule ^(.*)$ https://hazirbant.com.tr/$1 [L,R=301]

AddDefaultCharset utf-8

# Root klasör yolumuzu belirtiyoruz. (resim dosyalarının seo su için.)
RewriteRule . - [E=REWRITEBASE:/]

# slash "/" işaretleri klasör değilse yönlendiriyoruz...
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.*)/$ /$1 [L,R=301]

# url parametresinden gelen herşeyi sef yapıyoruz...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([0-9a-zA-Z-_/]+)$   index.php?url=$1 [QSA]
RewriteRule ^sitemap.xml$         sitemap.php [L,NC]
