{% extends "base.twig" %}

{% block main %}
<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="MAX_FILE_SIZE" value="1048576">
    <input type="file" name="file" accept="image/jpeg,image/pjpeg,image/jpeg,image/jpeg,image/pjpeg,image/jpeg,
    image/pjpeg,image/jpeg,image/pjpeg,image/x-jps,image/png,text/plain,application/msword">
    <input type="submit" value="Загрузить файл!">
</form>
<div>{{ error ?? '' }}</div>
{% endblock %}
